ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-item-js {
  border-radius: 5%;
  border-style: double;
  border-color: green;
}
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  margin-bottom: 16px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 32px;
  position: static;
}
input {
  width: 100%;
  max-width: 320px;
  padding: 12px;
  margin: 8px;
  border-color: blue;
}
h1 {
  color: darkblue;
  margin: 8px;
}
button {
  width: 64px;
  height: 32px;
  margin: 16px 8px;
  border-style: groove;
  border-radius: 10%;
}

.task-one-item-js {
  color: darkmagenta;
}
.item-js {
  font-size: 32px;
  color: crimson;
}
